*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Roboto;
    src: url(../font-family/Roboto-Regular.ttf);
}
body{
    font-family: Roboto;
}
.website_wrapper{
    display: flex;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.leftside{
    max-width: 297px;
    width: 20.6%;
    padding: 16px;
}
.menu {
    list-style: none;
}
.menu li a img{
position: relative;
top:6px;
right: 12px;
}
.menu li a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: 24px 20px;
    color: #79829C;
}
.menu li a.active{
    background-color: #EFF0FF;
    border-right: 8px solid #5C6DFF;
    color: #000000;
}
.timeline{
    height: 1px;
    background: linear-gradient(to right, #FFFFFF,#D7D4D4,#FFFFFF);
    margin: 5px 0;
}
.menu li a img.logout_arrow{
    top:0;
}
.rightside{
    width: 79.4%;
    background-color: #F8F8F9;
}
.rightside_header{
    display: flex;
    border-bottom: 1px solid #D2D5DE;
    padding: 24px 12px;
}
.search{
    background: #EEF1F5;
    border: 1px solid #EEF1F5;
    border-radius: 12px;
    width: 788px;
    height: 48px;
    font-size: 14px;
    line-height: 16px;
    color: #8A94AA;
    padding-left: 42px;
}
.search_icon{
    position: relative;
    left: 42px;
    top: 6px;
}
.user_profile{
    display: flex;
    align-items: center;
    margin-top: -5px;
}
.notifications,.cross_arrow{
    height: 48px;
    border: 1px solid #EEF1F5;
    background-color: #EEF1F5;
    margin: 0px 12px;
    padding: 12px 12px;
    width: 48px;
    border-radius: 12px;
}
.border{
    border-right: 1px solid #D2D5DE;
    height: 16px;
}
.ads_management{
    padding: 24px;
}
.ads_management_wrapper{
    margin: 14px 62px 14px 10px;
    padding:12px;
    background: #FFFFFF;
    border: 2px solid #ECEEF6;
    border-radius: 10px;
}
.ads_management_header{
    display: flex;
    justify-content: space-between;
}
.title{
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #414E72;
    padding-left: 10px;
}
.fullview_icon{
    padding-right: 56px;
}
.ads_management_content{
    display: flex;
    justify-content: space-between;
    margin: 8px 12px 0px 0px;
}
.year,.month,.week{
   text-transform: uppercase;
   font-size: 16px;
   font-weight: 400;
   line-height: 19px;
   color: #8590AE;
   padding: 0px 8px;
}
.week,.totalvisit{
    font-size: 16px;
    font-weight: 700;
    color: #6C7897;
}
.visit_count{
    font-size: 20px;
    line-height: 23px;
    color: #8590AE;
}
.count_border {
    padding: 18px 0px;
    display: flex;
    align-items: center;
}
.ads_management_chart {
    padding-left: 12px;
}
.chart_count{
    font-size: 16px;
    line-height: 19px;
    color: #8590AE;
}
.chart_border {
    border-top: 2px dashed #DEE4F6;
    width: 937.5px;
    margin-left: 10px;
}
.date_view{
    display: flex;
    text-align: center;
}
.day_view {
    padding: 12px 26px;
    margin-left: 48px;
}
.date,.day{
    font-size: 16px;
    line-height: 19px;
    color: #818181;
}
.day{
    color: #8590AE;
}
.bar_view{
    position: relative;
}
.first_border,.second_border{
    display: block;
    position: absolute;
    bottom: 40px;
    width: 22px;
    border-radius: 5px 5px 0px 0px;
}
.first_border {
    background-color: #E4E7FF;
    border: 1px solid #DBDEFF;
}
.second_border{
    background-color: #B3BBFF;
    border: 1px solid #A0AAFF;
    margin-left: 20px;
}
.sun_first_border{
    height: 100px;
}
.sun_second_border{
    height: 140px;
}
.mon_first_border{
    height: 50px;
}
.mon_second_border{
    height: 129px;
}
.tue_first_border{
    height: 76px;
}
.tue_second_border{
    height: 145px;
}
.wed_first_border{
    height: 35px;
}
.wed_second_border{
   height: 152px;
}
.thu_first_border{
    height: 112px;
}
.thu_second_border{
    background-color: #5264FF;
    height: 132px;
}
.fri_first_border{
   height: 100px;
}
.fri_second_border{
    height: 152px;
}
.sat_first_border{
    height: 100px;
}
.sat_second_border{
    height: 152px;
}

/* advisoiro and referral page */
.advisior_referal_insta_page{
    display: flex;
}

.advisior_management{
    padding: 24px;
}
.advisior_management_header {
    display: flex;
    justify-content: space-between;
}

.advisior_management_wrapper,.referal_management_wrapper{
    margin: 14px 0px;
    padding:12px;
    background: #FFFFFF;
    border: 2px solid #ECEEF6;
    border-radius: 10px;
}
.advisior_management_content{
    display: flex;
    justify-content: space-between;
    margin: 8px 12px 0px 0px;
}
.advisior_chart_border{
   width: 405.5px;
   border-top: 2px dashed #DEE4F6;
   margin-left: 10px;
}
.advisor_cost_view{
    position: relative;
}
.advisior_cost_view {
    padding: 12px 10px;
    margin-left: 42px;
}
.cost_border{
  display: block;
  position: absolute;
  bottom: 40px;
  border: 1px solid #5264FF;
  width: 24px;
  background-color: #5264FF;
  border-radius: 7px 7px 0px 0px;
}
.cost_first_border{
  height: 61px;
}
.cost_second_border{
    height: 142px;
}
.cost_third_border{
   height: 114px;
}
.cost_fourth_border{
    height: 142px;
}
.cost_fifth_border{
    height: 142px;
}
.cost_six_border{
    height: 89px;
}
.cost_seventh_border{
    height: 115px;
}
.ads_cost_fullview_icon,.insta_fullview_icon{
    padding-right: 24px;
}
.insta_view{
    display: flex;
    align-items: center;
}
.insta_image_border{
    background-color: #EEF1F5;
    border: 1px solid #EEF1F5;
    width: 48px;
    height: 50px;
    border-radius: 12px;
}
.social_media_type{
    padding: 0px 12px;
}
.insta_image_border img{
    padding: 8px;
}
.ads_activity_content{
    background-color: #FDFDFE;
    border: 1px solid #F5F6FA;
    border-radius: 15px 15px 0px 0px;
    padding: 24px 0px 0px;
    margin: 10px 48px 10px 6px;
}
.ads_activity_event{
    display: flex;
    justify-content: space-between;
    margin: 12px 8px 0px;
    padding: 12px 24px 0px;
    background-color: #F8F8F9;
    border-radius: 15px 15px 0px 0px;
}
.ads_activity_event p{
    font-size: 16px;
    color: #E4E7EF;
}